:root {
    --color-dark-text: #333;
    --color-light-text:#e4e4e4;
    --white-glass-color: #ffffffbb;
    --white-color: #ffff;
    --white-less-color: #cecccc;
    --black-color: #000000;
    --btn_main-color:rgb(35, 144, 233);
    --btn_hover-color:#111222;
    --margin-desktop: 5em;
    --margin-mobile:1em;
}

html{
    scroll-behavior: smooth;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


.pick-color{
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 222;
    top: 30%;
    right: 0;
    margin: var(--margin-mobile);
    }
    #c1,#c2,#c3{
        width: 1em;
        height: 1em;
        margin: 0.5em;
        cursor: pointer;
        border-radius: 50%;

    }
    #c1{
        background-color: rgb(35, 144, 233);
    }
    #c2{
        background-color: orange;
    }
    #c3{
        background-color: green;
    }
.wrapper {
    min-width: 320px;
    margin: 0 auto;
    overflow: hidden;
}

header {
    /* position: relative; */
    overflow: hidden;
    width: 100vw;
    /* height: 80vh; */
}

nav {
    position: absolute;
    width: 100%;
    height: 4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__menu {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 3;
    text-align: center;
}

.nav__icon {
    position: relative;
    height: 2.5em;
    margin-right: 0.5em;
    z-index: 3;
}

.nav__logo {
    margin-left: 0.5em;
    width: 100%;
    z-index: 2;
}

.nav__logo img {
    height: 3em;
}

.hide-element {
    display: none;                          

}

.nav__menu {

    background-color: var(--white-color);

}

.nav__menu--left li,
.nav__menu--right li {
    /* display: inline-block; */
    list-style: none;
    padding: 0.5em;
}

.nav__menu--left a,
.nav__menu--right a {
    text-decoration: none;
    color: var(--color-dark-text);
    font-weight: 700;

}

.nav__menu--right button {
    border: none;
    background-color: none;
    font-weight: 700;

}

.header__slider-aria--content {
    position: absolute;
}

.logo-text{
    font-size: 2rem;
    font-weight: 900;
    color: var(--white-color);
}

#checkbox {
    display: none;
}

.toggle {
    position: relative;
    width: 40px;
    height: 40px;
    z-index: 1;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition-duration: .5s;
}

.bars {
    width: 100%;
    height: 4px;
    background-color: var(--white-color);
    border-radius: 4px;
}

#bar2 {
    transition-duration: .8s;
}

#bar1,
#bar3 {
    width: 70%;
}

#checkbox:checked+.toggle .bars {
    position: absolute;
    transition-duration: .5s;
}

#checkbox:checked+.toggle #bar2 {
    transform: scaleX(0);
    transition-duration: .5s;
}

#checkbox:checked+.toggle #bar1 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: .5s;
}

#checkbox:checked+.toggle #bar3 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: .5s;
}

#checkbox:checked+.toggle {
    transition-duration: .5s;
    transform: rotate(180deg);
}


.header__slider-area {
    width: 100%;
    /* height: 100%; */
    height: 70vh;
    display: flex;justify-content: center;
    align-items: center;
}

.header__slider-aria--slides {
    width: 100%;
    height: 100%;
    filter: brightness(0.5);


    
}

.slider-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slider-container__stuff {
    width: 500%;
    height: 100%;
    display: flex;
    
}

.slider-container__stuff>input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
    
}

.slide>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navigation-manual {
    position: absolute;
    width: 100%;
    bottom: 5%;
    display: flex;
    justify-content: center;
}

.manual-btn:not(:last-child) {
    margin-right: 1em;
}

.manual-btn {
    padding: 0.3em;
    border: 0.2em solid aqua;
    border-radius: 50%;
    cursor: pointer;
}

.manual-btn:hover {
    background-color: aqua;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -20%;
}

#radio3:checked~.first {
    margin-left: -40%;
}

#radio4:checked~.first {
    margin-left: -60%;
}

#radio5:checked~.first {
    margin-left: -80%;
}


.navigation-auto {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    bottom: 5%;
}

.navigation-auto div {
    padding: 0.3em;
    border: 0.2em solid aqua;
    border-radius: 50%;
    transition: 1s;
}

.navigation-auto div:not(:last-child) {
    margin-right: 1em;
}

#radio1:checked~.navigation-auto .auto-btn1 {
    background-color: aqua;
}

#radio2:checked~.navigation-auto .auto-btn2 {
    background-color: aqua;
}

#radio3:checked~.navigation-auto .auto-btn3 {
    background-color: aqua;
}

#radio4:checked~.navigation-auto .auto-btn4 {
    background-color: aqua;
}

#radio5:checked~.navigation-auto .auto-btn5 {
    background-color: aqua;
}

.header__slider-aria--content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* height: 100%; */
    width: 100%;
    /* position: relative; */
    z-index: 2; 

}

.header-content--container{
    margin: 0 2em;
    color: var(--white-color);
}
.header-content--title{
    text-transform: uppercase;
    margin: 0px 0px 0.5em 0px;
}
.header-content--subtitle{
    margin: 0px 0px 1em 0px;
    color: var(--white-less-color);
}


.btn{
   background: none;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}
.header-content--btn{
    background-color: var(--btn_main-color);
    color: var(--white-color);
}
.slide__btn{
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.slide__btn::after{
    content: "";
    background: var(--btn_hover-color);
    position: absolute;
    border-radius: 5px;
    z-index: -1;
    padding: 0.85em 0.75em;
    display: block;
    top:0;
    left: -100%;
    right:100%;
    bottom: 0;
    transition: all 0.85s;
}
.slide__btn:hover::after{
    top:0;
    left: 0;
    right:0;
    bottom: 0;
}
.popular-tour{
    width: 100%;
}
main{
    margin-top: 2em;
    margin-bottom: 4em;
    width: 100%;
}
.popular-tour--title{
    font-size: 2rem;
    text-align: center;
    margin: 0.5em 0em;
}
.cards--container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    /* width: 100%; */
    margin: 0em 1em;
}
.card{
    width: 100%;
    height: 400px;
    overflow: hidden;border-radius: 5px;background-color: rgb(255, 255, 255);
    padding: 1em;
}
.card__image{
    overflow: hidden;
    margin-bottom: 1em;
    height: 60%;
    
}
.card__image img{ 
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.location-infor{
    font-size: 1.5rem;
    margin-bottom: 0.2em;
}
.location-infor--contry{
    font-size: 1rem;
    color: var(--color-dark-text);
    /* margin-bottom: 1em; */
}
.location--infor__price{
    margin-top: 0.5em;

}
.card--detail a{
    text-decoration: none;
    color: var(--color-dark-text);
    float: right;
}

/* .introduce-us{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    background-color: #C4DFDF;
} */

.introduce-us{
    display: flex;
   flex-direction: column;
   /* gap: 2em; */
    width: 100%;
    /* height: 350px; */
    background-color: var(--btn_main-color);
    margin-top: 1em;
}

.introduce__img{
    /* width: 100%;
    height: 100%; */
    margin:var(--margin-mobile);
    overflow: hidden;
}
.introduce__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.introduce__content{
    /* width: 100%; */
    color: var(--color-dark-text);
    margin: var(--margin-mobile);
}
.introduce__content--title{
    text-align: center;
    margin: 1em;
    font-size: 2rem;
}
.introduce__subtance{
    margin-bottom: 1em;
}
.packages-infor{
    margin-bottom: 2em;
}
.packages-infor h2{
    text-align: center;
    font-size: 2rem;
    margin: 1em;
}
.packages-contain{
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 1em;
    margin: 0 var(--margin-mobile);
}
.package{
    text-align: center;
    padding: 2em;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 3px 16px rgba(47, 83, 109, 0.26);
}
.package_icon{
    font-size: 7rem;
    margin: 0.2em;
}

.package a{
    margin: 0.5em;
    text-decoration: none;
    color: #111222;
    
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
margin-top: 5em;
    /* flex-wrap: wrap; */

}
footer{
    background-color: var(--btn_main-color);
    color: var(--black-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    width: 100vw;

}
footer section{
    margin: 1em;
}
footer section ul li {
    list-style: none;
    margin: 0.5em 0px;
}
footer .col1,.col2,.col3,.col4{
    width: calc(100% / 4);
    margin: 4em 120px;
    text-align: center;
}
@media(min-width:550px){
    .cards--container{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        gap: 1em;
        /* width: 100%; */
        margin: 0em 1em;
    }
    .packages-contain{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1em;

    }
}
@media(min-width:900px){
    .cards--container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1em;
        /* width: 100%; */
        margin: 0em 1em;
    }
    .introduce-us{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .packages-contain{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1em;

    }
}
@media(min-width:1150px){
    .wrapper {
        min-width: 1200px;
        margin: 0 auto;
    }
    /* .pick-color{
        
        margin: var(--margin-desktop);
        } */
    header {
        position: relative;
        overflow: hidden;
        width: 100vw;
        /* height: 80vh; */
    }
    .nav__logo {
        margin-left: var(--margin-desktop);
        display: inline-block;
        width: 50%;
    }
    .header__slider-area {
        height: 100vh;
    }
    .hide-element{
        display: block;
    }
    .nav__menu{
        display: flex;
        flex-direction: row;
        background-color: rgba(255, 255, 255, 0);
    }
    .nav__menu--left li,
    .nav__menu--right li {
    display: inline-block;
    list-style: none;
    padding: 1em;

}
.nav__menu--left ,
.nav__menu--right {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav__menu--left a,
.nav__menu--right a {
    text-decoration: none;
    color: var(--white-color);
    font-weight: 700;
}
.nav__icon{
    display: none;
}

nav{
    display: flex;
    position: absolute;
    width: 100%;
    height: 4em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav__menu {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    text-align: center;
}
.nav__menu--right{
    margin-right: var(--margin-desktop);
}
.login-btn{
    padding: 1em 0em 1em 1em;
}
.signUp-btn{
    background-color: var(--btn_main-color);
}
.popular-tour--title{
    font-size: 2rem;
    text-align: center;
    margin: 0.5em 0em;
}
.cards--container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    /* width: 100%; */
    margin: 0em 1em;
}
.cards--container{
margin: var(--margin-desktop);
}
.card{
    box-shadow: 0px 3px 16px rgba(164, 171, 177, 0.26);
}
.card img,
.card,
.package{
    transition: all 1s;
}
.card:hover img{
transform: scale(1.2);
}
.card:hover,
.package:hover{
    transform: translateY(-15px);
    box-shadow: 0px 3px 16px rgba(47, 83, 109, 0.26);

}
.introduce-us{
    display: flex;
   flex-direction: row;
   gap: 2em;
    width: 100%;
    height: 350px;
    margin: 1em 0;
    background-color: var(--btn_main-color);
}

.introduce__img{
    width: 100%;
    margin: 1em 0 1em var(--margin-desktop);
    overflow: hidden;
}
.introduce__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.introduce__content{
    width: 100%;
    color: var(--color-dark-text);
    margin-right: var(--margin-desktop);
}
.introduce__content--title{
    text-align: center;
    margin: 1em;
    font-size: 2rem;
}
.introduce__subtance{
    margin-bottom: 1em;
}
.packages-contain{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
}
.package_icon{
    font-size: 7rem;
    margin: 0.2em;
}
.packages-contain{
    margin: 0 var(--margin-desktop);
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 6em;


}

footer .col1,.col2,.col3,.col4{
    width: calc(100% / 4);
    margin: 4em 120px;
    text-align: center;
}
}